.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100vw - 300px);
}

.A {
  background-color: red;
  height: 50px;
  position: sticky;
  top: 0;
}
.B {
  min-height: 2500px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 0) 100%
  ); */
}

.C {
  background-color: blue;
  height: 300px;
  width: calc(100% - 200px);
}

.E {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: relative;
}

.E:hover {
  cursor: pointer;
  animation: elementE 5s 2;
  animation-direction: normal;
}

@keyframes elementE {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: calc(100% - 100px);
    top: 0px;
  }
}

form {
  display: flex;
  flex-direction: row;
  margin: 16px;
}
.F {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 30px);
  align-items: center;
}

.F-title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.removeButton:hover {
  color: red;
}

.D {
  background-color: green;
  height: 50px;
  position: sticky;
  bottom: 0;
}
